html {
    background-color: AliceBlue !important;

}

@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
    font-family: 'Sora', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a:-webkit-any-link {
    text-decoration: none;
    color: inherit;
}

a:-webkit-any-link:hover {
    text-decoration: none;
    text-shadow: 1px 1px #FF0000;
}